extends card_layout
block card-body
    icon(class="fab fa-docker fa-2x pr-3")
    span(class="class-title" style="font-size: 1.5rem;") Containers
    table(class="table table-hover mt-4" id="container-table")
        thead
            tr
                th STATE
                th ID
                th NAME
                th IMAGE
                th COMMAND
        tbody
            each container in containers
                - 
                    let colorClass;
                    switch(container.State.toUpperCase()){
                        case "EXITED":
                            colorClass = "text-danger";
                            break;
                        case "RUNNING":
                            colorClass = "text-success";
                            break;
                        default:
                            colorClass = "text-body";
                    }
                tr(data-js-href="containers/" + container.Id)
                    td(class=colorClass )= container.State
                    td(class="w-25")= container.Id
                    td= container.Names
                    td= container.Image
                    td= container.Command
        