table.table.table-hover.mt-4.table-responsive-sm.table-responsive-md.table-responsive-lg.table-responsive-xl#image-table
    thead
        tr
            th ID
            th REPO/ NAME:TAG
            th CREATED
            th SIZE
            th ACTION
    tbody
        each image in images
            tr(data-js-href="/images/" + image.Id) 
                    td(style="width: 15%;")= image.Id
                    td(style="width: wrap-content;")
                        each tag in image.RepoTags
                            span= tag
                            br
                    td.text-right(style="width: wrap-content;")= image.Created
                    td.text-right(style="width: wrap-content;")= image.Size
                    td
                        button(class="action-btn btn btn-primary" onclick=`window.location.href='/images/${image.Id}'`) Details