table.table.table-hover.mt-4.table-responsive-xl#imageHistory-table
    thead
        tr
            th ID
            th CREATED ON
            th CREATED BY
            th TAGS
            th SIZE
            th COMMENT
    tbody
        each ih in imageHistory
            tr
                td= ih.Id
                td.text-right(style="min-width: 100px; width: 200px; max-width: 200px;")= ih.Created
                td(style="width: 100px;")= ih.CreatedBy
                td
                    each tag in ih.Tags
                        span= tag
                        br
                td.text-right(style="width: 80px;")= ih.Size
                td= ih.Comment