- 
    const state2color = {
        sleeping: "text-danger",
        running: "text-success",
        blocked: "text-warning",
        unknown: "text-secondary",
    }
table#processes-table.table.table-hover.mt-4.table-responsive-sm.table-responsive-md.table-responsive-lg.table-responsive-xl
        thead
            tr
                th PID
                th STATE
                th NAME
                th PRIORITY
                th PARENT
                th STARTED
                th TTY
                th USER
                th MEMORY
                th PATH
                th COMMAND
                th PARAMS
        tbody
            each proc in procs
                tr 
                    td= proc.pid
                    td(class=state2color[proc.state.toLowerCase()])= proc.state
                    td= proc.name
                    td= proc.priority
                    td= proc.parentPid
                    td= proc.started
                    td= proc.tty
                    td= proc.user
                    td= proc.pmem
                    td= proc.path
                    td= proc.command
                    td= proc.params